* {
    margin: 0;
    padding: 0;
    border: 0;
}

.options {
    border: 0;
}

.disabled {
    opacity: 0.5;
    color: red;
}

.disabled:hover {
    cursor: default !important;
}

.option {
    padding-top: 10px;
    padding-bottom: 15px;
    display: inline-block;
    max-width: 250px;
    max-height: 350px;
    text-align: center;
    transition: all 0.3s ease;
}

.optionText {
    font-size: 14px;
    word-wrap: break-word;
}

.optionImage {
    max-width: 80%;
    max-height: auto;
    display: inline-block;
}

.gray-border {
	border: 4px solid #464647;
	box-shadow: 0 0 10px #25292b;
}

.green-border {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.correct {
    border: 2px solid green;
}

.wrong {
    border: 2px solid red;
}